.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }
  &__map {
    border-radius: 16px;
    border: none;
    margin: auto;
    flex-shrink: 0;
  }
}
